:root {
    --white-color: #fff;
    --main-color:#4CAF50;
    --error-color: #e91640;
    --text-color: #171a1c;
    --gray: #6e7780;
    --light-gray: #f2f2f2;
    --bg-color: #fff;
    --bg-color-2: #f0f2f5;
    --border: #b3bdcc;
    --form-color: #8e96a4;
    --box-shadow1: rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    --transition: all ease 0.3s;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Work Sans", sans-serif;
    font-weight: 400;
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: var(--main-color);
  }
  a:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  
  p {
    margin-bottom: 1rem;
  }

  
  .label {
    font-size: 1rem;
  }
  
  caption {
    padding: 0.5rem 0;
    text-align: left;
  }
  
  figure {
    margin: 0 0 0.7rem;
  }
  
  img,
  video {
    max-width: 100%;
  }
  
  figcaption {
    padding: 0.45rem 0;
    font-size: 1rem;
    color: var(--gray);
    text-align: left;
    text-align: center;
  }
  
  iframe {
    border: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin-bottom: 0.6rem;
    line-height: 1.2;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  h3 {
    font-size: 1.25rem;
  }
  
  h4 {
    font-size: 0.875rem;
  }
  
  h5 {
    font-size: 0.75rem;
  }

  /* utilities */
  .round-md{
    border-radius:8px;
  }
  .round-full{
    border-radius:999px;
  }

  .mb-4{
    margin-bottom:16px;
  }
  .mb-6{
    margin-bottom:24px;
  }
  
  hr {
    border: none;
    height: 1px;
    margin: 1rem 0;
    background-color: var(--border);
  }
  
  sup,
  sub {
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    font-size: 75%;
  }
  
  sup {
    bottom: -0.5em;
  }
  
  sub {
    bottom: -0.25em;
  }
  
  blockquote {
    font-size: 1.125rem;
    width: 90%;
    margin: 50px auto;
    font-style: italic;
    font-family: inherit;
    line-height: 1.6;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 3px solid var(--main-color);
    position: relative;
    background: var(--bg-color-2);
  }
  
  blockquote::before {
    content: "\201C";
    color: var(--main-color);
    font-size: 4em;
    left: 10px;
    top: -10px;
    position: absolute;
    font-family: Arial;
  }
  
  blockquote::after {
    content: "";
  }
  
  table {
    width: 100%;
    overflow: auto;
    border: 0;
    border-collapse: collapse;
    text-align: left;
    margin: 1rem 0;
  }
  
  td,
  tr {
    border: none;
  }
  
  td,
  th {
    vertical-align: middle;
    padding: 8px;
  }
  
  table tr:nth-child(even) {
    background:#fafafa;
  }
  
  table th {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    text-align: left;
  }
  
  input::-moz-placeholder,
  textarea::-moz-placeholder,
  select::-moz-placeholder {
    color: var(--form-color);
  }
  
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder,
  select:-ms-input-placeholder {
    color: var(--form-color);
  }
  
  input::placeholder,
  textarea::placeholder,
  select::placeholder {
    color: var(--form-color);
    opacity: 1;
  }
  
  input,
  textarea,
  select {
    border: 1px solid var(--border);
    border-radius:8px;
    padding: 0.5rem 0.875rem;
    font-family: inherit;
    font-size: 1rem;
    color: inherit;
    background: var(--bg-color);
    width: 100%;
  }
  
  input:not([type="search"]),
  textarea,
  select {
    margin: 0.4rem 0 0.4rem 0;
  }
  
  input:focus,
  textarea:focus,
  select:focus {
    border: 1px solid var(--main-color);
    outline: 3px solid #d8daf3;
  }
  
  textarea {
    height: 60px;
  }
  
  .form_content {
    max-width: 400px;
  }
  
  .button {
    border: 2px solid transparent;
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    padding:12px 20px;
    background-color:transparent;
    cursor: pointer;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
  }
  
  .button.primary,
  .button.error {
    color: var(--white-color);
  }
  
  .button.sm {
    padding: 8px 18px;
    font-size: 14px;
  }
  
  .button.primary {
    background-color: var(--main-color);
  }
  
  .button.error {
    background-color: var(--error-color);
  }

  .button.outline{
    background-color:transparent;
    border: 2px solid var(--main-color);
  }
  
  .button.primary:hover {
    background: #46a049;
  }
  
  .button.error:hover {
    background: #dc143c;
  }
  
  
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  
  /*navigation*/
  
  header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background: var(--main-color);
    top: 0;
    left: 0;
    right: 0;
    padding: 0.875rem;
    min-height: 60px;
  }
  
  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .brand {
    font-weight: 600;
    color:var(--white-color);
    font-size: 20px;
  }
  
  .nav-toggler {
    background-color: inherit;
    padding: 0.4rem;
    cursor: pointer;
    border: none;
    height: 32px;
    width: 42px;
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  
  .nav-toggler span {
    height:1px;
    width: 24px;
    border-radius:999px;
    background: var(--white-color);
    display: block;
    margin: auto;
    position: relative;
  }
  
  .nav-toggler.active span {
    background-color: transparent;
  }
  
  .nav-toggler span::before,
  .nav-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--white-color);
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
  }
  
  .nav-toggler.active span::before {
    transform: rotate(45deg);
  }
  
  .nav-toggler.active span::after {
    transform: rotate(135deg);
  }
  
  .nav-toggler span::before {
    transform: translateY(-6px);
  }
  
  .nav-toggler span::after {
    transform: translateY(6px);
  }
  
  nav ul {
    list-style: none;
    padding: 0.4rem 0;
    margin-top: 0.75rem;
  }
  
  .nav-menu {
    width: 100%;
    display: none;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
  }
  
  .nav-menu.open {
    display: block;
  }
  
  .nav-menu li a {
    display: block;
    color:var(--white-color);
    padding: 0.4rem 0;
    text-transform: capitalize;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
  }

  .group-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .minus, .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    background-color: #f2f2f2;
    cursor: pointer;
  }
  
  .number {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #fff;
  }
  
  
  .alert {
    padding: 15px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    width: 300px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}



.cart-item{
  display:flex;
  flex-direction:column;
  border-bottom:1px solid lightgrey;
  gap:10px;
}
  
  main {
    margin: 100px auto;
    padding: 0 12px;
  }

 
  .all-products{
    display:grid;
    gap:1.2rem;
    grid-template-columns:1fr 1fr;
  }

  .product-card{
    box-shadow:var(--box-shadow1);
    background:var(--white-color);
  }

  .product-card img{
    height:100px;
    width:100%;
    object-fit:cover;
  }
  
  .product-detail-container{
    display:flex;
    gap:1rem;
    flex-direction:column;
  }

  .product-detail-img{
    width:100%;
    object-fit:cover;
    box-shadow:var(--box-shadow1);
  }

  ol ol,
  ul ul,
  dl dl {
    margin-bottom: 0;
  }
  
 
  /*footer*/
  
  footer {
    background: #333333;
    color: var(--white-color);
    clear: both;
    text-align: center;
  }
  
  .footer-top {
    padding: 28px 12px;
  }
  
  .footer-text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.925rem;
  }
  
  .footer-wrapper .footer-link {
    font-size: 0.925rem;
    color: var(--white-color);
    display: inline-block;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    transition: var(--transition);
    margin: 5px;
    padding: 6px;
  }
  
  .footer-wrapper .footer-link:hover {
    color: var(--main-color);
  }
  
  .footer-bottom {
    padding: 20px;
  }
  
  .footer-bottom .copyright {
    font-size: 0.925rem;
    color: var(--text-color);
  }
  
  .footer-bottom .copyright a {
    color: var(--main-color);
  }
  
  /*responsive*/
  
  @media (min-width: 600px) {
    main {
      padding: 0 1rem;
    }

    .all-products{
      grid-template-columns: repeat(auto-fit, 250px);
    }


  
  }
  
  @media (min-width: 768px) {
    header {
      min-height: 60px;
    }
    .nav-toggler {
      display: none;
    }
  
    .nav-menu {
      width: auto;
      padding: 0;
      display: block;
    }
  
    nav ul {
      padding: 0;
      margin: 0;
    }
  
    .nav-menu li {
      display: inline-block;
      margin-left: 1rem;
    }
  
    .nav-menu li a {
      font-size: 1rem;
    }
  
  
    .container{
      max-width: 700px;
    }

    .product-card img{
    height:200px;
   
  }

  .product-detail-container{
    flex-direction:row;
  }
  .product-detail-img{
    width:500px;
    height:450px;
 
  }
  .cart-item{
    flex-direction:row;
  }
  
  }
 
  
  @media (min-width: 1200px) {
    .container {
      max-width: 1150px;
    }
  
  }
  