{% extends "base.html" %}

{% block content %}
<main>
  {% if category %}
  <div class="container" style="margin-bottom: 1rem; color: #6e7780">
    <p><a href="{% url 'home' %}">Home</a>/ {{category}}</p>
  </div>
  {% endif %}

  {% if products %} {% for product in products %}

        <!--  blog card -->
        <div class="product-card">
          <img src="{{ product.product_image.url}}" alt="{{ product.title }}">
          <div>
              <a href="">{{ product.title }}</a>
              <div class="flex items-center justify-center m-2">
                  <p>
                      {% if product.discount_price %}
                        <span><del>${{ product.price }}</del></span>
                        <span>{{ product.discount_price}}</span>
                        {% else %}
                      <span>{{ product.price}}</span>
                      {% endif %}
         </div>
        <!-- end product card -->

        {% endfor %} {% else %}
        <strong>no posts in {{ category.name }}</strong>

        {% endif %}

  
</main>

{% endblock content %}







