{% extends "base.html" %}

{% block content %}
            
            <main class="container">
               <div class="form_content">
                <form method="POST" action="{% url 'checkout' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <div class="total-cost">
                      <strong>Total Cost:</strong> $<span id="total-cost">{{ total_cost }}</span>
                  </div>
                  <button type="submit" class="button primary round-md">Place Order</button>
              </form>
               </div>
            
            </main>
            <script>
              document.addEventListener("DOMContentLoaded", function() {
                  fetch("{% url 'get_total_cost' %}")
                      .then(response => response.json())
                      .then(data => {
                          document.getElementById("total-cost").innerText = data.total_cost.toFixed(2);
                      });
              });
          </script>
            {% endblock content %}
