{% extends "base.html" %}
{% load custom_tags %}

{% block content %}
<main class="container">
    <h2>Orders Dashboard</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date Created</th>
                <th>Email</th>
                <th>Paid</th>
                <th>Billing Address</th>
                <th>Products Bought</th>
                <th>Amount Paid</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.billing_address.email }}</td>
                <td>{{ order.paid }}</td>
                <td>
                    {{ order.billing_address.full_name }}<br>
                    {{ order.billing_address.street_address }}<br>
                    {{ order.billing_address.apartment_address }}<br>
                    {{ order.billing_address.zip }}
                </td>
                <td>
                    {% for order_product in order_products %}
                        {{ order_product.product.title }} - {{ order_product.quantity }} x ₦{{ order_product.price }}<br>
                    {% endfor %}
                </td>
                <td>
                    <p>Total Amount: ₦{{ order_products|sum_prices }}</p>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>

{% endblock %}
