{% extends "base.html" %}

{% block content %}

<main class="container">
   <section class="categories mb-6">
    <div style="width:100%;overflow-x:auto;">
    {% for category in categories %}
      <a class="category-link button sm outline round-full" href="{% url 'category' category.slug %}">{{ category.name }}</a>
      {% endfor %}
    </div>
   </section>

   <section>
    <h2>All Products</h2>
    <div class="all-products">
        {% for product in products %}
       <div class="product-card round-md">
        <img class="round-md" src="{{ product.product_image.url}}" alt="{{ product.title }}">
        
            <a href="{{ product.get_absolute_url }}">{{ product.title }}</a>
            
                <p>
                    {% if product.discount_price %}
                      <span><del>${{ product.price }}</del></span>
                      <span>{{ product.discount_price}}</span>
                      {% else %}
                    <span>{{ product.price}}</span>
                    {% endif %}
                    <form id="add-to-cart-form" action="{% url 'add_to_cart' product.id %}" method="post">
                      {% csrf_token %}
                      <button class="button primary sm" type="submit">Add to Cart</button>
                  </form>
       </div>
       {% endfor %}
    </div>
   </section>
</main>
    
{% endblock content %}